.Beta-warning {
  position: relative;
  top: -42px !important;
  min-height: 2rem !important;
  text-align: center;
  border-bottom: solid 1px rgba(26, 41, 57, 0.1);
  z-index: 10 !important;

  .container {
    min-height: 2rem !important;
  
    span {
      margin: 0 auto;
      position: relative;
      top: 4px;

      strong {
        color: #ffc107;
      }
    }
  }
}