.settings-modal {
  ul {
    li {
      margin-bottom: 20px;
    }
  }

  .explorer-selector {
    margin-left: 10px;
  }

  .switch {
    margin: 7px 0 7px 0;
  }

  .slider-text {
    margin-right: 20px;
  }
}