.sidebar-right {
  position: fixed;
  top: 52px;
  height: 100vh;
  width: 90px;
  background: #121958;
  color: #fff;
  z-index: 100;

  ul {
    li {
      text-align: center;
      padding: 20px 0;
      border-left: solid 4px #121958;

      i {
        font-size: 22px;
        position: relative;
        left: -4px;
      }

      &:hover {
        cursor: pointer;
        border-left: solid 4px #25CDDA;

        i {
          color: #25CDDA;
        }
      }
    }
  }

  a,
  a:hover {
    color: #fff !important;
  }
}

.Modal {
  .modal-content {
    * {
      color: #121958 !important;
    }
    .card,
    .card-header-title {
      background: #fff !important;
    }
    .card-header {
      border-bottom: solid 1px rgba(0,0,0,0.2) !important;
    }
  }
}

.ActionListModal.Receive-modal .Modal {
  text-align: left;

  .panel-heading, .panel-tabs, .panel-block, .panel-block.is-active {
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
  }

  .panel .panel-block:first-child {
    border-top: 1px solid #dbdbdb;
  }

  .table {
    margin: 25px 0 35px 0;
  }

  .button {
    margin: 0 auto;
    display: block;
  }
}